<% include ./partials/header %>
<h1>NIKHIL NALANDE</h1>
<h5>Full-stack Web Developer</h4>
<p>Self taught Software Developer willing to learn something new everyday. </p>

<strong>Currently available.</strong>
<em>Willing to relocate anywhere or can work remotely.</em>
<h5>Skills & Frameworks</h5>
<ul>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Javascript</li>
    <li>node.js</li>
    <li>MongoDB</li>
    <li>Heroku</li>
    <li>Bootstrap 3 & 4</li>
    <li>jQuery</li>
    <li>Algorithms</li>
</ul>
<% include ./partials/footer %>