<!DOCTYPE html>
<html>
    <head>
        <title>Nikhil Nalande</title>
        
        <link rel="stylesheet" href="home.css">
        <link href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet">
        <!-- <script src="../public/home.js"></script> -->
    </head>
    <body>
        <section class="wrapper">
            <div id="stars"></div> 
            <div id="stars2"></div> 
            <div id="stars3"></div>
            <div id="title">
                <span>NIKHIL NALANDE</span>
                <br>
                <a href="#">Projects</a>
            </div>
        </section>
        
    </body>
</html>
