<!DOCTYPE html>
<html>
    <head>
        <title>Nikhil Nalande</title>
        
        <link rel="stylesheet" href="stylesheets/home.css">
        <link href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <section class="wrapper">
            <div id="stars"></div> 
            <div id="stars2"></div> 
            <div id="stars3"></div>
            <div class="content">
                <span id="name">NIKHIL NALANDE</span>
                <hr>
                <span id="desc">I'm a Computer Engineer & Full Stack Developer.</span>
                <div class="button-container">
                        <a href="#" class="button">
                            My Projects
                        </a>
                    </div>
            </div>
            
        </section>
        
    </body>
</html>
