body{
  background: url("../assets/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Changa, sans-serif;
}
h1{
  letter-spacing: 0.5rem;
}
#home {
  height: calc(100vh + 53px);
  position: relative;
  padding-top:  25%;
  letter-spacing: 0.3rem;
}
.navbar {
  background-color: #EE6352;
}
.navbar a{
  color: #EFE9F4;
}
button #button{
  color: #EFE9F4;
}
.navbar a:hover{
  color: #373737;
}
section {
  color:  #373737;
}
.navbar-brand{
  font-size: 2rem;
}
ul li{
  font-size: 1.25rem;
}
.fas{
  font-family: FontAwesome;
  font-size: 2rem;
  color: #EFE9F4;
  text-decoration: none;
}
#button:focus {
  outline: none;
}
#projects{
  background: #EE6352;
}

hr.style-five {
  border: 0;
  height: 0; /* Firefox... */
  box-shadow: 0 0 15px 5px #EE6352;
  margin: 1px 0;
}
hr.style-five:after {  /* Not really supposed to work, but does */
  content: "\00a0";  /* Prevent margin collapse */
}
.project{
  padding: 0;
  background: #EFE9F4;
  border-radius: 20px;
  border: 10px solid #c7bdcf;
}
.project-name{
  padding-left: 10px;
  background: #c7bdcf;
}
.img-thumbnail{
  width: 400px;
  margin: 10px;
  position: relative;
  will-change: auto;
}
p{
  margin: 10px 50px;
}
button{
  border: 4px solid #373737;
  border-radius: 10px;
  width: auto;
  height: 40px;
  background: none;
}
button:hover{
  background: #EE6352;
  transition: 500ms;
}
button img{
  padding: 2px;
  width: 80px;
}
.section-heading{
  padding-top: 20px;
  font-weight: 700;
  color: #EFE9F4;
}
.section-heading-light{
  padding-top: 20px;
  font-weight: 700;
  color: #EE6352;
}
#skills{
  background: #EFE9F4;
}
/* li{
  text-align: center;
  line-height: 3.5rem;
  font-size: 2rem;
  list-style: none;
} */
.skills {
  width: 100px;
  height: 70px;
}
#footer{
  padding-top: 40px;
  text-align: center;
  position: relative;
  height: 300px;
  background: #EE6352;
}
#copyrights{
  color: #EFE9F4;
  margin-bottom: 10px;
}
#contact_me{
  background: #EFE9F4;
}
.form-m{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #373737;
  background-clip: padding-box;
  border: 4px solid #373737;
  border-radius: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-m:hover{
  border: 4px solid #EE6352;
  border-radius: 10px;
}
.form-m:focus{
  border: 4px solid #EE6352;
  outline: thick double #373737;
  border-radius: 0;
}
#upd{
  width: 50px;
  display: block;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(-50%);
}
#upd:hover{
  width: 60px;
  display: block;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(-50%);
}

